Thermostat starts at 20 degrees

Scenario: Thermostat operator uses for first time
GIVEN: I have a thermostat
WHEN: when I set it up
THEN: it starts at 20 degrees

You can increase the temperature with an up function

Scenario: Thermostat operator uses thermostat
GIVEN: I want to increase the temp
WHEN: I click up temp
THEN: the temp increases by one degrees

You can decrease the temperature with a down function

Scenario: Thermostat operator uses thermostat
GIVEN: I want to decrease the temp
WHEN: I click down temp
THEN: the temp decreases by one degrees

The minimum temperature is 10 degrees

Scenario: Thermostat operator wants to decrease to 9
GIVEN: The temp is 10 degrees
WHEN: I click down temp
THEN: the thermostat throws an error

If power saving mode is on, the maximum temperature is 25 degrees

Scenario: Power saving mode is on
GIVEN: The temp is 25 degrees
WHEN: I click up temp
THEN: the thermostat throws an error

If power saving mode is off, the maximum temperature is 32 degrees

Scenario: Power saving mode is on
GIVEN: I want to turn it off
WHEN: I click powerSaveToggle
THEN: Power saving mode turns to off

Scenario: Power saving mode is off
GIVEN: The temp is 32 degrees
WHEN: I click up temp
THEN: the thermostat throws an error

GIVEN: I want to turn it off
WHEN: I click powerSaveToggle
THEN: Power saving mode turns to on

You can reset the temperature to 20 with a reset function

Scenario: Temperature is not 20
GIVEN: I want to reset the temp
WHEN: I click resetTemperature
THEN: the temp should return to 20



The minimum temperature is 10 degrees
If power saving mode is on, the maximum temperature is 25 degrees
If power saving mode is off, the maximum temperature is 32 degrees
Power saving mode is on by default
You can reset the temperature to 20 with a reset function
You can ask about the thermostat's current energy usage: < 18 is low-usage, < 25 is medium-usage, anything else is high-usage.
(In the challenges where we add an interface, low-usage will be indicated with green, medium-usage indicated with black, high-usage indicated with red.)
